@import '../../styles.scss';

.radio-container {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}
.ugly-radio {
    opacity: 0;
    width: 12px;
    height: 12px;
    position: absolute;
    @extend .abs-center;
}
.nice-radio {
    width: 24px;
    height: 24px;
    border: 2px solid $gray;
    border-radius: 12px;
    position: absolute;
    @extend .abs-center;
    cursor: pointer;
    background: $cream;
    transition: $easeall;
}
.ugly-radio:checked + .nice-radio:before {
    content: '';
    display: block;
    position: absolute;
    @extend .abs-center;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: $darkgray;
}
.ugly-radio:focus + .nice-radio {
    border-color: $blue;
}
.radio-label {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}
.nice-radio:after {
    content: '';
    position: absolute;
    @extend .abs-center;
    transform: scale(1);
    background: $blue;
    border-radius: 50%;
    opacity:1;
    visibility: hidden;
    transition: none;
    cursor: pointer;
}
.ugly-radio:checked + .nice-radio:after {
    transform: scale(2.25);
    transition: all 1.5s cubic-bezier(0,1,0,1);
    visibility: visible;
    opacity: 0;
}
