@import '../../styles.scss';

.combo-box-container {
    display: inline-block;
    height: 40px;
    width: 100%;
    position: relative;
    &.has-label {
        margin-top: 30px;
    }
    &.focused {
        .combo-box-input {
            border-color: $blue;
        }
        .dropdown-icon {
            &:before {
                background: $blue;
            }
            fill: $blue;
        }
    }
    &.suggestions-active {
        .combo-box-input {
            border-radius: 4px 4px 0 0;
        }
    }
}
.combo-box-input {
    height: 40px;
    line-height: 20px;
    width: 100%;
    display: block;
    border: none;
    padding: 0 40px 0 13px;
    font-size: 14px;
    background: $cream;
    border: 2px solid $lightgray;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: $easeall;
    &:focus {
        outline: none;
        // border-color: $blue;
    }
}
.placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    left: 15px;
    z-index: 1;
    color: gray;
    font-family: "Roboto", sans-serif;
    transition: $easeall;
    &.hidden {
        display: none;
    }
    &.label {
        display: block;
        font-size: 12px;
        top: -20px;
        left: 0;
        height: 15px;
        line-height: 15px;
    }
    &.blue-text {
        color: $blue;
    }
}
.suggestions-container {
    // position: absolute;
    position: fixed;
    top: 38px;
    left: 0;
    right: 0;
    border: 2px solid $blue;
    // border-top: none;
    border-radius: 0 0 4px 4px;
    // min-height: 44px;
    min-height: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background: $cream;
    transition: $easeall;
    transition-property: min-height, max-height;
    .option-row {
        text-align: left;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        &.current {
            background: $blue;
            color: $cream;
        }
    }
    &.visible {
        opacity: 1;
        max-height: auto;
        z-index: 2;
    }
}
.dropdown-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    z-index: 1;
    cursor: pointer;
    &:before {
        content: '';
        display: block;
        top: 6px;
        bottom: 6px;
        width: 2px;
        position: absolute;
        background: $lightgray;
        left: 0;
        transition: $easeall;
    }
    svg {
        width: 24px;
        height: 24px;
        position: absolute;
        fill: $darkgray;
        transition: $easeall;
        @extend .abs-center;
    }
}
