@import '../../styles.scss';

.switch-container {
    height: 40px;
    width: 60px;
    background: $lightgray;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background 0.15s cubic-bezier(0.75,0.25,0.25,0.75);
    &.on {
        background: $green;
        .switch {
            left: calc(100% - 38px);
        }
    }
}
.switch {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $cream;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    transition: all 0.15s cubic-bezier(0.75,0.25,0.25,0.75);
}
